.idea/
.terraform/
.terragrunt-cache/
.terraform.lock.hcl
.DS_Store
certificate.crt
private.key
cert.pem
key.pem
terraform.plan
terraform.tfstate
snippet/admin/admin-project/terraform.tfstate
snippet/admin/admin-project/terraform.tfstate.backup
kwidb/
front/
serviceaccount.json
terraform.tfstate.backup
.tfvars